:root {
  --content-max-width: 84em;
  --link-color: var(--theme-color);
  --code-inline-color: #e96900;
}
@media (prefers-color-scheme: dark) {
  :root {
    --code-inline-background: #0e2233;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --code-inline-background: #f8f8f8;
  }
}

.mermaid {
  background-color: #fff;
}

.sidebar-nav ul > li.collapse > a {
  color: var(--sidebar-nav-link-color);
  background: var(--sidebar-nav-pagelink-background) !important;
}
.sidebar-nav ul > li.collapse.active > a {
  color: var(--sidebar-nav-link-color--active, var(--sidebar-nav-link-color));
  background: var(--sidebar-nav-pagelink-background--active) !important;
}
